@{
  var userName = User?.FindFirst("FullName")?.Value ?? "Guest";
  var roleDescription = User?.FindFirst("RoleDescription")?.Value ?? "Sin Rol";
  var iniciales = string.Join(
    "",
    userName
      .Split(' ', StringSplitOptions.RemoveEmptyEntries)
      .Take(2)
      .Select(n => n[0])
  ).ToUpper();
}


@if (ViewData["navbarFull"] != null)
{
  <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
  <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">
                <img src="~/images/Logo_LicitAR_circle_clear_small.png" alt="Logo" style="height: 40px;" />
            </span>
    <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
  </a>
</div>
}

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
  <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
    <i class="bx bx-menu bx-md"></i>
  </a>
</div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

  <!-- Search -->
  <div class="navbar-nav align-items-center">
    <div class="nav-item d-flex align-items-center">
            <h2 class="mt-4"> @ViewData["Title"]</h2>
    </div>
  </div>
  <!-- /Search -->

  <ul class="navbar-nav flex-row align-items-center ms-auto">
    <!-- Place this tag where you want the button to render. -->

    <!-- User -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
          <div class="avatar-iniciales">@iniciales</div>

        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <div class="avatar-iniciales">@iniciales</div>
                </div>
              </div>
              <div class="flex-grow-1">
                <h6 class="mb-0">@userName</h6>
                <small class="text-muted">@roleDescription</small>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider my-1"></div>
        </li>
        <li>
          <a class="dropdown-item" asp-controller="Usuario" asp-action="MyProfile">
            <i class="bx bx-user bx-md me-2"></i>
            <span>Mi perfil</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            <i class="bx bx-cog bx-md me-2"></i>
            <span>Configuraci&oacute;n</span>
          </a>
        </li>

        <li>
          <div class="dropdown-divider my-1"></div>
        </li>
        <li>
          <a class="dropdown-item" asp-controller="Usuario" asp-action="Logout">
            <i class="bx bx-power-off bx-md me-2"></i>
            <span>Cerrar Sesi&oacute;n</span>
          </a>
        </li>
      </ul>
    </li>
    <!--/ User -->

  </ul>
</div>
