@using LicitAR.Web.Helpers
@model LicitAR.Core.Data.Models.Licitacion

@{
    ViewData["Title"] = "Detalle de la licitacion";
}

<div class="row">
    <div class="col-xl"> 
        <div class="card mb-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0"><b>@Html.DisplayFor(model => model.CodigoLicitacion)</b> - @Html.DisplayFor(model => model.Titulo) </h4>

            </div>  
            <div class="card-body">
               

                <table class="table table-borderless align-middle mb-4">
                    <tbody>
                        <tr>
                            <th class="w-25 text-end">Descripción:</th>
                            <td>@Html.DisplayFor(model => model.Descripcion)</td>
                        </tr>
                        <tr>
                            <th class="text-end">Entidad Licitante:</th>
                            <td>@StringFormatHelper.FormatearCuitSeguro(Model.EntidadLicitante.Cuit, Model.EntidadLicitante.RazonSocial)</td>
                        </tr>
                        <tr>
                            <th class="text-end">Estado Licitación:</th>
                            <td>
                                <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdEstado(Model.IdEstadoLicitacion)" data-bs-toggle="tooltip" title="@Model.EstadoLicitacion.Descripcion">
                                    @Html.DisplayFor(model => model.EstadoLicitacion.Descripcion)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Categoría Licitación:</th>
                            <td>
                                <span class="badge bg-label-info">
                                    @Html.Raw(Model.IdCategoriaLicitacion == 1 ? "Privada" : "Pública")
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Fecha Publicación:</th>
                            <td>
                                <i class="bx bx-calendar"></i>
                                @Html.DisplayFor(model => model.FechaPublicacion)
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Fecha Cierre:</th>
                            <td>
                                <i class="bx bx-calendar"></i>
                                @Html.DisplayFor(model => model.FechaCierre)
                            </td>
                        </tr>
                    </tbody>
                </table>

                <dl class="row">


                    <h6 class="fw-bold mb-2">Detalle de Ítems</h6>
                    <div class="mb-3 mt-3">
                        <div class="table-responsive">
                            <table class="table  table-striped table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="text-center" style="width: 10%;">NRO ITEM</th>
                                        <th scope="col" class="text-center" style="width: 30%;">ITEM</th>
                                        <th scope="col" class="text-center" style="width: 45%;">DESCRIPCIÓN</th>
                                        <th scope="col" class="text-center" style="width: 15%;">CANTIDAD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count; i++)
                                    {
                                        var item = Model.Items.ToArray()[i];
                                        <tr>
                                            <td>#@(item.NroItem + 1)</td>

                                            <td>@(item.Item)</td>

                                            <td>@(item.Descripcion)</td>

                                            <td>@(item.Cantidad)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                </dl>
            </div>
            <div class="card-footer text-start">
                <a asp-action="Create" asp-route-idlicitacion="@Model?.IdLicitacion" class="btn btn-primary">
                    <i class="bx bx-edit"></i>&nbsp;Postularme
                </a>
                <a asp-action="IndexLicitaciones" class="btn btn-secondary">
                    <i class="bx bx-arrow-back"></i>&nbsp;Volver al Listado
                </a>
            </div>
        </div>
    </div>
</div>
