@model LicitAR.Core.Data.Models.Oferta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaOferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaOferta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoOferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoOferta.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licitacion.CodigoLicitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.Cuit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOferta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
