@using LicitAR.Web.Helpers
@model LicitAR.Core.Data.Models.Oferta

@{
    ViewData["Title"] = "Publicar Postulación de Oferta";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";

    string backgroundClass = CssClassHelper.GetOfertaBagdeCssClassByIdEstado(Model.IdEstadoOferta);
}
<div class="alert alert-warning alert-dismissible" role="alert">
    Atención! Al confirmar esta oferta, la misma no podrá ser modificada posterior a este acto.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="card mb-6">
    <div class="card-header">
        <div class="d-flex align-items-center mb-3">
            <!-- Sección izquierda: Código -->
            <div class="flex-grow-1">
                <h5 class="mb-0">Cod. Oferta: <b>@Html.DisplayFor(model => model.CodigoOfertaLicitacion)</b></h5>
            </div>

            <!-- Sección derecha: Fecha + Estado -->
            <div class="text-start">
                <h5 class="mb-0">
                    <b>@Html.DisplayFor(model => model.FechaOferta)</b>
                    <span class="@(backgroundClass)">
                        @(Model.EstadoOferta?.Descripcion ?? "N/A")
                    </span>
                </h5>
            </div>
        </div>
    </div>

    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Cod. Licitación: <b>@Html.DisplayFor(model => model.Licitacion.CodigoLicitacion)</b> - @Html.DisplayFor(model => model.Licitacion.Titulo) </h4>

    </div>

    <hr />
    <div class="card-body">

        <table class="table table-borderless align-middle mb-4">
            <tbody>
                <tr>
                    <th class="w-25 text-end">Descripción:</th>
                    <td>@Html.DisplayFor(model => model.Licitacion.Descripcion)</td>
                </tr>
                <tr>
                    <th class="w-25 text-end">Rubro:</th>
                    <td>@Html.DisplayFor(model => model.Licitacion.Rubro.Descripcion)</td>
                </tr>
                <tr>
                    <th class="text-end">Entidad Licitante:</th>
                    <td>@StringFormatHelper.FormatearCuitSeguro(Model.Licitacion.EntidadLicitante.Cuit, Model.Licitacion.EntidadLicitante.RazonSocial)</td>
                </tr>
                <tr>
                    <th class="text-end">Estado Licitación:</th>
                    <td>
                        <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdEstado(Model.Licitacion.IdEstadoLicitacion)" data-bs-toggle="tooltip" title="@Model.Licitacion.EstadoLicitacion.Descripcion">
                            @Html.DisplayFor(model => model.Licitacion.EstadoLicitacion.Descripcion)
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-end">Categoría Licitación:</th>
                    <td>
                        <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdCategoria(Model.Licitacion.IdCategoriaLicitacion)">
                            @Model.Licitacion.CategoriaLicitacion.Descripcion
                        </span>
                    </td>
                </tr>
                <tr>
                    <th class="text-end">Fecha Publicación:</th>
                    <td>
                        <i class="bx bx-calendar"></i>
                        @Html.DisplayFor(model => model.Licitacion.FechaPublicacion)
                    </td>
                </tr>
                <tr>
                    <th class="text-end">Fecha Cierre:</th>
                    <td>
                        <i class="bx bx-calendar"></i>
                        @Html.DisplayFor(model => model.Licitacion.FechaCierre)
                    </td>
                </tr>
            </tbody>
        </table>

        <h4 class="col-sm-3"><b>Detalle</b></h4>

        <div class="mb-3 mt-3">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">NRO ITEM</th>
                        <th class="text-center">ITEM</th>
                        <th class="text-center">DESCRIPCIÓN</th>
                        <th class="text-center">CANTIDAD</th>
                        <th class="text-center @(backgroundClass.Replace("badge ",""))">PRECIO UNITARIO</th>

                        <th class="text-center @(backgroundClass.Replace("badge ", ""))">OBSERVACIÓN</th>
                        <th class="text-center @(backgroundClass.Replace("badge ", ""))">SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Licitacion.Items.Count; i++)
                    {
                        var item = Model.Licitacion.Items.ToArray()[i];
                        var itemOferta = Model.Items.ToArray().First(xx => xx.IdLicitacionDetalle == item.IdLicitacionDetalle);
                        <tr>
                            <td class="text-center">#@(item.NroItem + 1)</td>
                            <td class="text-center">@(item.Item)</td>
                            <td class="text-center">@(item.Descripcion)</td>
                            <td class="text-center">@(item.Cantidad)</td>
                            <td class="text-center @(backgroundClass.Replace("badge ",""))">@(itemOferta.ImporteUnitario)</td>
                            <td class="text-center @(backgroundClass.Replace("badge ",""))">@(itemOferta.Observacion)</td>
                            <td class="text-center @(backgroundClass.Replace("badge ",""))">@(itemOferta.ImporteSubtotal)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-start"><strong>TOTAL GENERAL:</strong></td>
                        <td class="text-center"><strong><span id="total-general">@(Model.Items.Sum(x => x.ImporteSubtotal))</span></strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
    <div class="card-footer text-start">
        <form asp-action="Publicar" class="d-inline">
            <input type="hidden" asp-for="IdOferta" />
            <input type="submit" value="Publicar" class="btn btn-success" />
        </form>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bx bx-arrow-back"></i>&nbsp;Volver al Listado
        </a>
    </div>
</div>

