@model IEnumerable<LicitAR.Core.Data.Models.UsuarioModel>

@{
    ViewData["Title"] = "Usuarios - LicitAR";
}

<div class="card">
    <h5 class="card-header">Usuarios</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha de Nacimiento</th> 
                    <th>CUIT</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.IdUsuario</td>
                        <td>@user.Nombre</td>
                        <td>@user.Apellido</td>
                        <td>@user.Email</td>
                        <td>@user.FechaNacimiento.ToShortDateString()</td>
                        <td>@user.Cuit</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="bx bx-edit-alt me-1"></i> Editar
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="bx bx-trash me-1"></i> Eliminar
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
