@using LicitAR.Core.Data.Models
@using LicitAR.Web.Helpers
@model LicitacionDocumentacionModel

@{
    ViewData["Title"] = "Documentación - Adjuntar documento";
    Licitacion licitacion = ViewBag.licitacion;
}


<div class="row">
    <div class="col-xl">
        <div class="card mb-6">
            <div class="card-header d-flex justify-content-between align-items-center ">
                <h5 class="mb-0">
                    <b>@licitacion.CodigoLicitacion</b> - @licitacion.Titulo
                </h5>
            </div>
            <div class="card-body">
                <table class="table table-borderless align-middle mb-4">
                    <tbody>
                        <tr>
                            <th class="w-25 text-end">Descripción:</th>
                            <td>@licitacion.Descripcion</td>
                        </tr>
                        <tr>
                            <th class="w-25 text-end">Rubro:</th>
                            <td>@licitacion.Rubro.Descripcion</td>
                        </tr>
                        <tr>
                            <th class="text-end">Entidad Licitante:</th>
                            <td>@StringFormatHelper.FormatearCuitSeguro(licitacion.EntidadLicitante.Cuit, licitacion.EntidadLicitante.RazonSocial)</td>
                        </tr>
                        <tr>
                            <th class="text-end">Estado Licitación:</th>
                            <td>
                                <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdEstado(licitacion.IdEstadoLicitacion)" data-bs-toggle="tooltip" title="@licitacion.EstadoLicitacion.Descripcion">
                                    @licitacion.EstadoLicitacion.Descripcion
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Categoría Licitación:</th>
                            <td>
                                <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdCategoria(licitacion.IdCategoriaLicitacion)" data-bs-toggle="tooltip" title="@licitacion.CategoriaLicitacion.Descripcion">
                                    @(licitacion.CategoriaLicitacion.Descripcion)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Fecha Publicación:</th>
                            <td>
                                <i class="bx bx-calendar"></i>
                                @licitacion.FechaPublicacion
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Fecha Cierre:</th>
                            <td>
                                <i class="bx bx-calendar"></i>
                                @licitacion.FechaCierre
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4><b>Adjuntar documento</b></h4>
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" name="IdLicitacion" value="@licitacion.IdLicitacion" />
                            <input type="hidden" name="IdLicitacionDocumentacion" value="1" />
                            <input type="hidden" name="BlobUri" value="-" />


                            <div class="mb-2">
                                <label>Título del documento</label>
                                <input type="text" name="TituloDocumento" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-2">
                                <label>Archivo</label>
                                <input type="file" name="archivo" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mt-4">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary  btn-sm"><i class='bx bx-upload me-2'></i>Subir</button>
                                <a asp-action="Index" asp-route-idLicitacion="@licitacion.IdLicitacion" class="btn btn-secondary btn-sm ">
                                    <i class='bx bx-arrow-back me-2'></i> Volver al listado
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section BusinessScripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
