@model LicitAR.Core.Data.Models.LicitacionDocumentacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LicitacionDocumentacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArchivoOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArchivoOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licitacion.CodigoLicitacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLicitacionDocumentacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
