@model LicitAR.Core.Data.Models.EntidadLicitante

@{
    ViewData["Title"] = "Eliminar Entidad Licitante";
}

<div class="row mb-12 g-6">
    <div class="col-md-8 col-lg-4">
        <div class="card">
            <div class="card-header">
                Confirmar eliminación de la Entidad Licitante:
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.RazonSocial</h5>
                <p class="card-text">
                    <strong>CUIT:</strong> @Model.Cuit <br />
                    <strong>Provincia:</strong> @Model.IdProvincia <br />
                    <strong>Localidad:</strong> @Model.IdLocalidad <br />
                    <strong>Dirección:</strong> 
                    @Model.DireccionCalle @Model.DireccionNumero, 
                    Piso @Model.DireccionPiso, Depto @Model.DireccionDepto <br />
                    <strong>Código Postal:</strong> @Model.DireccionCodigoPostal
                </p>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdEntidadLicitante" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
