@model LicitAR.Core.Data.Models.EntidadLicitante
@using LicitAR.Core.Data.Models

@{
    ViewData["Title"] = "Detalle de la Entidad Licitante";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0"><b>@Html.DisplayFor(model => model.RazonSocial)</b></h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.Cuit)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Cuit)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.IdProvincia)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.IdProvincia)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.IdLocalidad)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.IdLocalidad)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.DireccionBarrio)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionBarrio)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.DireccionCalle)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionCalle)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.DireccionNumero)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionNumero)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.DireccionPiso)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionPiso)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.DireccionDepto)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionDepto)</dd>

                    <dt class="col-sm-3"><b>@Html.DisplayNameFor(model => model.DireccionCodigoPostal)</b></dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DireccionCodigoPostal)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<h4>Usuarios Asociados</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr> <!-- Added missing opening <tr> tag -->
                <td>@usuario?.Usuario?.Nombre</td>
                <td>@usuario.Usuario.Email</td>
                <td>
                    <form asp-action="DesasociarUsuario" method="post">
                        <input type="hidden" name="idEntidadLicitante" value="@Model.IdEntidadLicitante" />
                        <input type="hidden" name="idUsuario" value="@usuario.IdUsuario" />
                        <button type="submit" class="btn btn-danger">Desasociar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Asociar Nuevo Usuario</h4>
<form asp-action="AsociarUsuario" method="post">
    <input type="hidden" name="idEntidadLicitante" value="@Model.IdEntidadLicitante" />
    <select name="idUsuario" class="form-control">
        @foreach (var user in ViewBag.UsuariosDisponibles)
        {
            <option value="@user.Id">@user.Nombre (@user.Email)</option>
        }
    </select>
    <button type="submit" class="btn btn-primary mt-2">Asociar</button>
</form>

<div class="text-start mt-8">
    <a asp-action="Edit" asp-route-id="@Model?.IdEntidadLicitante" class="btn btn-primary">
        <i class="bx bx-edit"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bx bx-arrow-back"></i> Volver al Listado
    </a>
</div>
