@using LicitAR.Web.Helpers
@model LicitAR.Core.Data.Models.Licitacion

@{
    ViewData["Title"] = "Eliminar licitación";
}


<div class="row mb-12 g-6">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center ">
                <h5 class="mb-0">
                    <b>@Model.CodigoLicitacion</b> - @Model.Titulo
                </h5>
            </div>

            <div class="card-body">
                <table class="table table-borderless align-middle mb-4">
                    <tbody>
                        <tr>
                            <th class="w-25 text-end">Descripción:</th>
                            <td>@Model.Descripcion</td>
                        </tr>
                        <tr>
                            <th class="text-end">Entidad Licitante:</th>
                            <td>@StringFormatHelper.FormatearCuitSeguro(Model.EntidadLicitante.Cuit, Model.EntidadLicitante.RazonSocial)</td>
                        </tr>
                        <tr>
                            <th class="text-end">Estado Licitación:</th>
                            <td>
                                <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdEstado(Model.IdEstadoLicitacion)" data-bs-toggle="tooltip" title="@Model.EstadoLicitacion.Descripcion">
                                    @Model.EstadoLicitacion.Descripcion
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-end">Categoría Licitación:</th>
                            <td>
                                <span class="badge bg-info">
                                    @Html.Raw(Model.IdCategoriaLicitacion == 1 ? "Privada" : "Pública")
                                </span>
                            </td>
                        </tr>

                        @if (Model.FechaPublicacion.HasValue)
                        {
                            <tr>
                                <th class="text-end">Fecha Publicación:</th>
                                <td>
                                    <i class="bx bx-calendar"></i>
                                    @Model.FechaPublicacion
                                </td>
                            </tr> 
                        }
                        @if(Model.FechaCierre.HasValue) { 
                            <tr>
                                <th class="text-end">Fecha Cierre:</th>
                                <td>
                                    <i class="bx bx-calendar"></i>
                                    @Model.FechaCierre
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><b>NRO ITEM</b></th>
                                    <th><b>ITEM</b></th>
                                    <th><b>DESCRIPCIÓN</b></th>
                                    <th><b>CANTIDAD</b></th>
                                    <th><b>PRECIO UNITARIO ESTIMADO</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Items.Count; i++)
                                {
                                    var item = Model.Items.ToArray()[i];
                                    <tr>
                                        <td>#@(item.NroItem + 1)</td>

                                        <td>@(item.Item)</td>

                                        <td>@(item.Descripcion)</td>

                                        <td>@(item.Cantidad)</td>
                                        <td>$ @(item.PrecioEstimadoUnitario)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><br />
                    
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdLicitacion" />

                    <div class="text-start mt-8">
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bx bx-arrow-back"></i>&nbsp;Volver al Listado
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
