@model IEnumerable<LicitAR.Core.Business.Licitaciones.OferenteResumen>
@{
    ViewData["Title"] = "Oferentes - " + (ViewBag.TituloLicitacion ?? "");
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@ViewBag.TituloLicitacion</h5>
        <p>@ViewBag.RequisitosLicitacion</p>
    </div>
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Razón Social</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oferente in Model)
                    {
                        <tr>
                            <td>@oferente.RazonSocial</td>
                            <td>@oferente.FechaOferta.ToShortDateString()</td>
                            <td>
                                <span class="badge bg-label-info">
                                    @oferente.EstadoOferta
                                </span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="@Url.Action("Details", "Ofertas", new { id = oferente.IdOferta })">
                                    <i class="bx bx-search"></i> Ver Detalle
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info m-4">
            No hay postulaciones a esta licitación.
        </div>
    }
    <div class="card-footer text-start">
        <a href="/Licitacion/Index" class="btn btn-primary">
            <i class="bx bx-arrow-back"></i>&nbsp;Volver al listado
        </a>
    </div>
</div>
