@model EvaluacionModel

@using LicitAR.Core.Data.Models
@using LicitAR.Web.Helpers
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Evaluación de licitación";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
    Licitacion licitacion = ViewBag.licitacion;
    IEnumerable<Oferta> ofertas = ViewBag.ofertas;
    decimal importeTotal = 0;
}


<div  >
    <!-- Card: Información general de la licitación -->
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center ">
            <h5 class="mb-0">
                <b>@licitacion.CodigoLicitacion</b> - @licitacion.Titulo
            </h5>
        </div>

        <div class="card-body">
            <table class="table table-borderless align-middle mb-4">
                <tbody>
                    <tr>
                        <th class="w-25 text-end">Descripción:</th>
                        <td>@licitacion.Descripcion</td>
                    </tr>
                    <tr>
                        <th class="text-end">Entidad Licitante:</th>
                        <td>@StringFormatHelper.FormatearCuitSeguro(licitacion.EntidadLicitante.Cuit, licitacion.EntidadLicitante.RazonSocial)</td>
                    </tr>
                    <tr>
                        <th class="text-end">Estado Licitación:</th>
                        <td>
                            <span class="@CssClassHelper.GetLicitacionBagdeCssClassByIdEstado(licitacion.IdEstadoLicitacion)" data-bs-toggle="tooltip" title="@licitacion.EstadoLicitacion.Descripcion">
                                @licitacion.EstadoLicitacion.Descripcion
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-end">Categoría Licitación:</th>
                        <td>
                            <span class="badge bg-info">
                                @Html.Raw(licitacion.IdCategoriaLicitacion == 1 ? "Privada" : "Pública")
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-end">Fecha Publicación:</th>
                        <td>
                            <i class="bx bx-calendar"></i>
                            @licitacion.FechaPublicacion
                        </td>
                    </tr>
                    <tr>
                        <th class="text-end">Fecha Cierre:</th>
                        <td>
                            <i class="bx bx-calendar"></i>
                            @licitacion.FechaCierre
                        </td>
                    </tr>
                </tbody>
            </table>

            
        </div>
    </div>

    <div class="card mb-6">
        <div class="card-header">
            <b>Ofertas por Item</b>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Create"> 

                <input asp-for="IdEvaluacion" type="hidden" />
                <input asp-for="IdLicitacion" type="hidden" />
                <input asp-for="IdUsuarioEvaluador" type="hidden" />
                <input asp-for="FechaInicioEvaluacion" type="hidden" />
                <input asp-for="FechaFinEvaluacion" type="hidden" />

                @foreach (var item in licitacion.Items)
                {

                    <div class="card mb-6">
                        <div class="card-header">
                            <b>#@(item.NroItem + 1) - @item.Item</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3"><strong>Descripción:</strong> </div>
                                <div class="col-md-9">@item.Descripcion</div>

                                <div class="col-md-3"><strong>Cantidad:</strong> </div>
                                <div class="col-md-9">@item.Cantidad</div>

                                <div class="col-md-3"><strong>Precio Unitario de Referencia:</strong> </div>
                                <div class="col-md-9"> $ @item.PrecioEstimadoUnitario</div>
                            </div>


                            <table class="table mt-6">
                                <thead>
                                    <tr>

                                        <td></td>
                                        <td><b>OFERENTE</b></td>
                                        <td><b>PRECIO UNITARIO</b></td>
                                        <td><b>COMPARATIVA</b></td>
                                        <td><b>PRECIO SUBTOTAL</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ofertas.Count(); i++)
                                    {
                                        var ofertaProv = ofertas.ToArray()[i];
                                        var ofertaDetalleProv = ofertaProv.Items?.FirstOrDefault(x => x.IdLicitacionDetalle == item.IdLicitacionDetalle);
                                        if (ofertaDetalleProv == null) continue;


                                        <tr>
                                            <td>  
                                                <input type="radio"
                                                name="Ofertas[@item.IdLicitacionDetalle]"
                                                value="@ofertaDetalleProv.IdOfertaDetalle"
                                                class="oferta-radio"
                                                data-item="@item.IdLicitacionDetalle"
                                                data-itemnombre="@item.Item"
                                                disabled
                                                @(Model.Ofertas != null && Model.Ofertas.ContainsKey(item.IdLicitacionDetalle) &&
                                                         Model.Ofertas[item.IdLicitacionDetalle] == ofertaDetalleProv.IdOfertaDetalle ? "checked" : "")
                                                data-proveedor="@ofertaProv.Persona?.RazonSocial"
                                                data-subtotal="@ofertaDetalleProv.ImporteSubtotal" />
                                            </td>
                                            <td>@ofertaProv.Persona?.Cuit - @ofertaProv.Persona?.RazonSocial </td>

                                            <td>$ @(ofertaDetalleProv?.ImporteUnitario)</td>

                                            <td>@(ofertaDetalleProv?.ImporteUnitario > item.PrecioEstimadoUnitario ? "Mayor" : "Menor")</td>

                                            <td>$ @(ofertaDetalleProv?.ImporteSubtotal)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                }

                @if (Model.Ofertas.Count > 0){ 
                    <div class="alert alert-success alert-dismissible" role="alert">

                        <h4><b>Resumen de Selección</b></h4>
                        <ul id="resumen-seleccion" class="list-group mb-3">

                            @foreach (var kvp in Model.Ofertas)
                            {
                                var detalle = licitacion.Items.FirstOrDefault(i => i.IdLicitacionDetalle == kvp.Key);
                                var oferta = ofertas.SelectMany(o => o.Items)
                                .FirstOrDefault(oi => oi.IdOfertaDetalle == kvp.Value);

                                <li class="list-group-item">
                                    <b>Item:</b> @detalle?.Item |
                                    <b>Oferente:</b> @oferta?.Oferta.Persona?.RazonSocial |
                                    <b>Subtotal:</b> $@oferta?.ImporteSubtotal
                                </li>

                                importeTotal += oferta.ImporteSubtotal;
                            }

                        </ul>
                        <p><strong>Subtotal total: $<span id="total-suma">@importeTotal</span></strong></p>
                    </div>
                }else
                {
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        No se registraron ofertas para esta licitación
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                }
                <!--<div class="row">
                <div class="text-end">
                <button type="submit" id="btnGuardarEvaluacion" class="btn btn-primary">Guardar Evaluación</button>
                </div>
                </div> -->
            </form>

            <div class="text-start mt-8 btn-group dropup">
                <a asp-action="Index" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="bx bx-cog"></i>&nbsp;Acciones
                </a>
                <div class="dropdown-menu dropup">
                    @if (Model.IdEstadoEvaluacion == 1)
                    {
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.IdEvaluacion">
                            <i class="bx bx-edit-alt me-1"></i> Editar
                        </a>

                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Resultados</h6>

                        @if(Model.Ofertas.Count > 0){ 
                            <a class="dropdown-item" asp-action="Resultado" asp-route-idEvaluacion="@Model.IdEvaluacion" asp-route-idEstadoResultado="6">
                                <i class="bx bx-error me-1"></i> Licitación Impugnada
                            </a>

                            <a class="dropdown-item" asp-action="Resultado" asp-route-idEvaluacion="@Model.IdEvaluacion" asp-route-idEstadoResultado="9">
                                <i class="bx bx-check-circle me-1"></i> Licitación Adjudicada
                            </a>

                        }
                        else
                        {
                            <a class="dropdown-item" asp-action="Resultado" asp-route-idEvaluacion="@Model.IdEvaluacion" asp-route-idEstadoResultado="13">
                                <i class="bx bx-block me-1"></i> Licitación Desierta
                            </a>

                        }
                    }
                   
                </div>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bx bx-arrow-back"></i>&nbsp;Volver al Listado
                </a>
            </div>
        </div>
    </div>

</div> 