@model LicitAR.Core.Data.Models.Evaluacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Evaluacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioEvaluador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioEvaluador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioEvaluacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioEvaluacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinEvaluacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinEvaluacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licitacion.CodigoLicitacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEvaluacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
